<%- include('./partials/header.ejs') %> 


	<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
				  <div class="col-12">
					<h2 class="products-title">Agregar productos</h2>
				  </div>
				  <!-- Show the "ultimos" products -->
				  <form action="/products" class="form-label">
		  
					<div>
					  <label for="name" class="form-label">Nombre del producto</label>
					  <input type="text" id="name" class="form-input">
					</div>
					<div>
					  <label for="productPh" class="form-label">Foto de producto</label>
					  <input type="file" id="productPh" class="form-input">
					</div>
					<div>
					  <label for="description" class="form-label">Descripción</label>
					  <input type="text" id="description" class="form-input">
					</div>
					<div>
					  <label for="date" class="form-label">Fecha</label>
					  <input type="date" id="date" class="form-input">
					</div>
					<button class="buy-now-button" type="submit"> Agregar Producto</button>
				  </form>

			<%- include('./partials/footer.ejs') %> 
