<%- include('./partials/header.ejs') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<% if (locals.error) {%> 
				<div class = "alert alert-secondary" role="alert"> 
					<%= error %> 
				</div>
			<% }%> 
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="post">
					<div class="mb-3">
						<label for="name" class="form-label">Nombre completo</label>
						<input type="text" class="form-control" id="name" name="name">
					</div>
					<div class="mb-3">
						<label for="surname" class="form-label">Apellido</label>
						<input type="text" class="form-control" id="surname" name="surname">
					</div>
					<div class="mb-3">
						<label for="username" class="form-label">Nombre de usuario</label>
						<input type="text" class="form-control" id="username" name="username">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" name="email">
					</div>
					<div class="mb-3">
						<label for="phone" class="form-label">Teléfono celular</label>
						<input type="text" class="form-control" id="phone" name="phone">
					</div>
					<div class="mb-3">
						<label for="gender" class="form-label">Género</label>
						<input type="text" class="form-control" id="gender" name="gender">
					</div>
					<div class="mb-3">
						<label for="birthdate" class="form-label">Fecha de nacimiento</label>
						<input type="date" class="form-control" id="birthdate" name="birthdate">
					</div>
					<div class="mb-3">
						<label for="DNI" class="form-label">DNI</label>
						<input type="text" class="form-control" id="DNI" name="DNI">
					</div>
					
					<div class="mb-3">
						<label for="contraseña" class="form-label">Contraseña</label>
						<input type="password" class="form-control" id="Password" name="Password">
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
				  </form>
			</h2>


			<%- include('./partials/footer.ejs') %> 
