<%- include('./partials/header.ejs') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form>
					<div class="mb-3">
						<label for="name" class="form-label">Nombre completo</label>
						<input type="text" class="form-control" id="name">
					</div>
					<div class="mb-3">
						<label for="surname" class="form-label">Apellido</label>
						<input type="text" class="form-control" id="surname">
					</div>
					<div class="mb-3">
						<label for="username" class="form-label">Nombre de usuario</label>
						<input type="text" class="form-control" id="username">
					</div>
					
					<div class="mb-3">
						<label for="phone" class="form-label">Teléfono celular</label>
						<input type="text" class="form-control" id="phone">
					</div>
					<div class="mb-3">
						<label for="gender" class="form-label">Género</label>
						<input type="text" class="form-control" id="gender">
					</div>
					<div class="mb-3">
						<label for="birthdate" class="form-label">Fecha de nacimiento</label>
						<input type="date" class="form-control" id="birthdate">
					</div>
					
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Contraseña</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
				  </form>
			</h2>


			<%- include('./partials/footer.ejs') %> 
